.masonry-post{
    display: block;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
    text-decoration: none;
    margin: 0 auto;

}